html, body {
    height: 100%;
    background-color: #f5f5f5;
}
.particle__background {
    position: absolute;
    width: 100%;
    height: 30em;
    background-color: #38363c;
}

.content__background {
    background-color: #ffffff;
}

.content__spacing {
    position: absolute;
    left: 0;
    right: 0;
    margin-top:4em;
    min-height: 12em;
    padding-top: 3em;
}

.text__color {
    color: #3f3e3e;
}

.social__center {
    width: max-content;
    margin: auto;
}

.social__spacing {
    margin-top: 1em;
}

@media screen and (max-width: 576px) {
    .content__spacing {
        margin-top: 0em;
    }

    .particle__background {
        width: 100%;
    }
}